.container {
    max-width: 600px; 
    margin: 0 auto;
    padding: 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form input {

    margin-bottom: 20px;
    padding: 30px;
    font-size: 20px; 
    box-sizing: border-box;
  }
  
  .heading {
    color: blue;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  