@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(56 189 248);
}



.slider {
  height: calc(100vh - 5rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
}

.slide {
  width: 100vw;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.slide:after
 {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -9999999;
}

/* slide cta  */
.slide-cta {
  position: relative;
  z-index: 0;
}