.slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    /* Add any additional styles for the slide container */
  }
  
  .slide-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-left: 2rem;
    max-width: 960px;
    margin: 0 auto;
    /* Add any additional styles for the slide content */
  }
  
  .slide-headline {
    font-size: 3rem;
    font-weight: bold;
    color: #9f0c0c;
    width: 80%;
    /* Add any additional styles for the slide headline */
  }
  
  .slide-body {
    color: #07140d;
    width: 60%;
    margin-top: 30vh;
    font-weight: bold;
    align-items: center;
    font-size: 30px;
    /* Add any additional styles for the slide body */
  }
  
  .slide-cta {
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    /* Add any additional styles for the slide CTA */
  }
  